
body{

height:665px;
  background-image: url("https://services.meteored.com/img/article/la-falla-dei-modelli-climatici-e-il-ruolo-delle-nuvole-sul-clima-341951-2_1024.jpeg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;


}